@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:rgba(20, 28, 41, 0.941);
    background-image: url("../static/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 400px;
    height: 500px;
    text-align: center;
}
.container{
    position: relative;
    top: 150px;
}